<label class="fw-bold @visuallyHiddenCss" for="@InputId" title="@Title">
    @LabelText
    @if (Required)
    {
        <span class="text-danger">*</span>
    }
</label>

@code{
    [EditorRequired, Parameter] public bool HideLabel { get; set; }
    [EditorRequired, Parameter] public string InputId { get; set; }
    [EditorRequired, Parameter] public string LabelText { get; set; }
    [Parameter] public bool Required { get; set; }
    [EditorRequired, Parameter] public string Title { get; set; }

    string visuallyHiddenCss = "";

    protected override void OnInitialized()
    {
        if (HideLabel) visuallyHiddenCss = "visually-hidden";
        base.OnInitialized();
    }
}