<label class="fw-bold" for="@InputId">
    @LabelText
    @if (Required)
    {
        <span class="text-danger">*</span>
    }
</label>

@code{

    [EditorRequired, Parameter] public string InputId { get; set; }
    [EditorRequired, Parameter] public string LabelText { get; set; }
    [Parameter] public bool Required { get; set; }
}